@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

/* Skin-specific responsive styles
---------------------------------- */

@media (max-width: 1679px) {
  /*Extra*/
  .alter-row2>div {
    width: 50% !important;
  }
}

@media (max-width: 1440px) {
  /*Extra*/
  .alter-row2>div {
    width: 60% !important;
  }
}

@media (max-width: 1279px) {
  .menu_hover_fade .sc_layouts_menu_nav > li > a:not(.trx_addons_login_link) {
    padding: 0.7377rem 1rem 0.6377rem !important;
  }
}

@media (max-width: 1023px) {
  /*Team*/
  .sc_team_alter .post_featured {
    margin: 0;
  }
  .sc_team_alter .sc_team_columns_wrap .sc_team_item {
    display: block;
  }
  .sc_team_alter .sc_team_item_info {
    padding: 2rem;
  }
}
